@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Outfit:wght@700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Inter",  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
  color: #0f172a;
}

html,
body {
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* You can add global styles to this file, and also import other style files */
